a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}

header{
    background-image: url(/img/fundo.gif);
    display: flex;
    justify-content: center;
}

#cabecalho{
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

header div nav {
    display: flex;
}

header div nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    background: linear-gradient(to top, #777, #ddd);
    width: 150px;
    height: 55px;
}

#redeSocial{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-self: flex-start;
    margin-top: 20px;
}

#redeSocial img{
    margin-left: 5px;
}

/*  */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulario {
    margin-top: 20px;
    background: #eee;
    padding: 30px;
    border-radius: 10px;
    width: 40%;
}

.topicForm {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#buttons {
    flex-direction: row;
    justify-content: flex-start;
}

.bt {
    margin-right: 10px;
    width: 100px;
    height: 25px;
    border: none;
    background-color: #0099ee;
    border-radius: 5px;
}

.bt:hover {
    background-color: #00aaee;
    color: white;
}

/*  */
footer{
    display: flex;
    justify-content: center;
}

#rodape{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#rodape a{
    margin-left: 10px;
}

#rodape div{
    margin-right: 10px;
}

#rodape a, #rodape div{
    color: #bbb;
}

#rodape a:hover{
    color: black;
}