body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}

header{
    background: linear-gradient(#326667 63%, #214445 63%, #326667 67%, #327778 77%, #326667 90%, #325556 95%, #214445);
    display: flex;
    justify-content: center;
}

#cabecalho{
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

nav {
    display: flex;
}

.navCabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    background: linear-gradient(to top, #777, #ddd);
    width: 150px;
    height: 55px;
}

#redeSocial{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-self: flex-start;
    margin-top: 20px;
}

.imgRedeSocial{
    margin-left: 5px;
    width: 30px;
}

section{
    display: flex;
    justify-content: center;
}

section div{
    width: 80%;
}

details{
    margin-top: 15px;
}

summary{
    display: flex;
    align-items: center;
    padding-left: 10px;
    background: linear-gradient(to bottom, #ccc, #777);
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

summary:hover{
    background: linear-gradient(to bottom, #ddd, #888);
}

p{
    text-align: justify;
    padding: 0px 10px 0px 10px;
}

footer{
    display: flex;
    justify-content: center;
}

#rodape{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#rodape a{
    margin-left: 10px;
}

#rodape div{
    margin-right: 10px;
}

#rodape a, #rodape div{
    color: #bbb;
}

#rodape a:hover{
    color: black;
}