a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: black;
}

header{
    background-image: url(/img/fundo.gif);
    display: flex;
    justify-content: center;
}

#cabecalho{
    width: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

header div nav {
    display: flex;
}

header div nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2px;
    background: linear-gradient(to top, #777, #ddd);
    width: 150px;
    height: 55px;
}

#redeSocial{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-self: flex-start;
    margin-top: 20px;
}

#redeSocial img{
    margin-left: 5px;
}

section{
    display: flex;
    justify-content: center;
}

#banner{
    margin-top: 10px;
    background-image: url(/img/banner1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image 1s;
    width: 80%;
    height: 400px;
}

#secao2{
    width: 80%;
    display: flex;
}

#secao2 article{
    background-color: #ddd;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}

article h2{
    border-bottom: 1px solid black;
}

article p{
    text-align: justify;
}

#artigo1{
    margin-right: 5px;
}

#artigo2{
    margin-left: 5px;
    align-self: flex-start;
}

#tituloArtigo2{
    border-bottom: 1px solid black;
}

footer{
    display: flex;
    justify-content: center;
}

#rodape{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#rodape a{
    margin-left: 10px;
}

#rodape div{
    margin-right: 10px;
}

#rodape a, #rodape div{
    color: #bbb;
}

#rodape a:hover{
    color: black;
}